name: regr-tests
on: [push]
jobs:
  run-regr-tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        mbedtls-version: ['2.28.8', '3.6.0']
    name: Tests (mbedtls ${{ matrix.mbedtls-version }})
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup environment
        run: |
          sudo apt-get install -y python3.11 python3-pip virtualenv psmisc git build-essential lcov curl netcat-openbsd
          virtualenv --python python3.11 pyenv
          . pyenv/bin/activate
          # jsonschema and jinja2 required for mbedtls 3.x build scripts
          pip3 install setuptools aiohttp websockets jsonschema jinja2
      - name: Execute Tests
        env:
          MBEDTLS_VERSION: ${{ matrix.mbedtls-version }}
        run: |
          # relax some regr test success conditions - related to timing
          . pyenv/bin/activate
          export PPSTHRES=100
          export TX_AIM_GAP='"40ms"'
          make -C regr-tests ci s2core.info
      - name: Archive logs
        uses: actions/upload-artifact@v4
        with:
          name: Test logs (mbedtls ${{ matrix.mbedtls-version }})
          path: regr-tests/t.log/*.log
      - name: Archive Coverage report
        uses: actions/upload-artifact@v4
        with:
          name: Coverage report (mbedtls ${{ matrix.mbedtls-version }})
          path: regr-tests/s2core-html/**

